name: Force Build APK
on: [push, workflow_dispatch] # Добавили ручной запуск

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Build APK
        run: |
          chmod +x gradlew || (wget https://raw.githubusercontent.com/gradle/gradle/master/gradlew && chmod +x gradlew)
          ./gradlew assembleDebug
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: Messenger-APK
          path: "**/*.apk"
